##========================================================================================
## 페이징리스트 HTML 영역 (사용자)
## [각 프로젝트별로 퍼블리싱 HTML 적용]
##========================================================================================

##========================================================================================

## 두번째 퍼블링싱

##========================================================================================
<div class="pagenation">
			
    <div class="pageWrap">
        <ul class="pc">
#if($page > 10)
    #set($prevIdx = $page - 10)
<li class="prev"><a href="javascript:${jsFunction}(${prevIdx});"></a></li>
 #end

#foreach( $idx in [$startPage..$endPage] )
    #if($idx != $page)
        <li><a href="javascript:${jsFunction}(${idx});" title="${idx} Page" >$idx</a></li>
 #else
        <li class="active" ><a >$idx</a></li>
    #end
#end

#if($page < $totalPage)
    #if($page /10 != ($totalPage - 1) /10)
    #set($nextIdx = ((($page - 1) / 10) * 10 + 11))
        <li class="next"><a href="javascript:${jsFunction}(${nextIdx});"></a></li>
   #end
#end
</ul>


##========================================================================================

## Moblie 퍼블링싱

##========================================================================================
 #*
 <ul class="moblie">
#if($page > 10)
    #set($prevIdx = $page - 10)
<li class="prev"><a href="javascript:${jsFunction}(${prevIdx});"></a></li>
 #end

#foreach( $idx in [$startPage..$endPage] )
    #if($idx != $page)
        <li><a href="javascript:${jsFunction}(${idx});" title="${idx} Page" >$idx</a></li>
 #else
        <li class="active" ><a >$idx</a></li>
    #end
#end

#if($page < $totalPage)
    #if($page /10 != ($totalPage - 1) /10)
    #set($nextIdx = ((($page - 1) / 10) * 10 + 11))
        <li class="next"><a href="javascript:${jsFunction}(${nextIdx});"></a></li>
   #end
#end
</ul>
</div>
*#
</div>

